@tailwind base;
@tailwind components;
@tailwind utilities;
/* ver2 start 
@keyframes glitch {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }
  
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin-slow {
    animation: spin-slow 10s linear infinite;
  }
  
  .animate-glitch {
    animation: glitch 500ms infinite;
  }
  ver2 start end */
  @keyframes float {
    0% { transform: translateY(0) rotate(30deg); }
    50% { transform: translateY(-20px) rotate(30deg); }
    100% { transform: translateY(0) rotate(30deg); }
  }
  
  .floating-hexagon {
    animation: float 10s ease-in-out infinite;
  }